<h3>Welcome to My Restaurant Review!</h3>
<p>
  Here you can post reviews of your favorite (and not so favorite) restaurants.  Bon appetit!
</p>
<% if logged_in? %>
<fieldset>
<legend>
  <h4>
    Click on one of the following links below to:
  </h4> <!--CRUDS-->
</legend>
<br/>
    <ul>
      <li><%= link_to "Create your review", new_review_path %></li>
      <li><%= link_to "Read your review", user_path(current_user) %></li>
      <li><%= link_to "Update your review", user_path(current_user) %></li>
      <li><%= link_to "Delete your review", user_path(current_user) %></li>
    </ul>
</fieldset>
<% end %>
<br/>
