<h1 class="current-category"><%= params[:category] %></h1>

<% if @restaurants.count == 0 %>

	<h1>There are no restaurant added in this category</h1>

<% else %>

	<div class="row">

		<% @restaurants.each do |restaurant| %>

			<div class="col-md-3">
				<a href="/restaurants/<%= restaurant.id %>">
					<%= image_tag restaurant.rest_imageg.url(:rest_index), class: "book" %>
				</a>
			</div>

		<% end %>

	</div>

<% end %>

<%= link_to "Add Restaurant", new_restaurant_path %>
